.articles .article-grid{
    display:grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 30%);
    padding: 5%;
    place-content: center;
}
.articles .card-down{
    height: 200px;
    display: grid;
    position: relative;
    width: 80%;
    place-content: center;
    background-color: #ffffff;
    border: none;
    box-shadow: 10px 10px 1px 1px #878680;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.articles .card-down p{
    text-align: center;
    color: #1F1E17;
    font-weight: bolder;
    font-size: 1.875rem;
    overflow: hidden;
    padding: 0 3%;
}
.articles .card-down button{
    background-color: #4BAF47;
    color: var(--c-orange);
    border: none;
    padding: 3% 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bolder;
    bottom: 0;
    font-size: 1.3rem;
}


.articles .post-card .abs{
    position: absolute;
    bottom: -10%;
    width: 40%;
    left:30%;
    z-index: 1;
    background-color: #4BAF47;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 2% 0;
    text-align: center;
}
.articles .post-card .card-top{
    width: 80%;
    height: 200px;
    position: relative;
}

.articles .post-card .card-top img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.single-article{
    background-color: #ffffff;
    /* padding-left: 15%; */
    padding: 5% 15%;
}
.single-article div{
    width: 70vw;
}
.single-article .img-wrap{
    /* width: 100%; */
    height: 400px;
    border-radius: 10px;
    margin-bottom: 5%;
}
.single-article img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}
.single-article .post-main  p{
    margin-bottom: 20px;
}

.single-article .post-main .tt{
    color: var(--c-green);
    font-size: 1.875rem;
    font-weight: 1000;
    padding-bottom: 2%;
    margin-bottom: 0;
}
.single-article .post-main .post-date{
    color:var(--c-orange);
    font-weight:700;
}
.articles .empty-posts{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0 20%;
    height: 50vh;
}
.articles .empty-posts p{
    text-align: center;
    font-style: italic;
    color: var(--c-orange);
    font-size: 1.3rem;
}

@media screen and (max-width:500px) {
    .articles .article-grid{
        grid-template-columns: 1fr;
        
    }
    .articles .post-card .card-top, .articles .card-down{
        width: 100%;
    }

}