.contact .contact-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    padding: 10%;
}
.contact .contact-cards .contact-card{
    width: 100%;
    border-radius: 20px;
    padding: 3%;
    height: 250px;
}

.contact .contact-cards .contact-card:hover{
    scale: 1.3;
    rotate: 360deg;
}
.contact .contact-cards .contact-card:nth-child(1){
    background-color: #4BAF47;
}
.contact .contact-cards .contact-card:nth-child(2){
    background-color: #C5CE38;
}
.contact .contact-cards .contact-card:nth-child(3){
    background-color: #EEC044;
}
.contact .contact-cards .contact-card p{
    font-family: manrope;
    color:#ffffff;
}
.contact .contact-cards .contact-card p:first-child{
    color:#ffffff;
    font-family: cbyg;
    font-size: 1.875rem;
}



.contact .contact-down{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0 10% 20% 10%;
    border-radius: 10px;
}
.contact .contact-form{
    background-color: #f8f7f0;
    padding: 5%;
}
.contact .contact-form p:first-child{
    font-family: cbyg;
    color: var(--c-orange);
    font-size: 1.5rem;
}
.contact iframe{
    border: none;
    width: 100%;
    height: 500px;
}
.contact .contact-form p:last-child{
    color: #1F1E17;
    font-size: 3rem;
    font-family: manrope;
    font-weight: 1000;
}
.contact .inp-top{
    display: flex;
    justify-content: space-between;
}

.contact .inp-top input,
.contact .inp-top input:active,
.contact .inp-top input:focus
{
    color: #878680;
    padding: 2% 3%;
    width: 45%;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
}
.contact  textarea,
.contact  textarea:active,
.contact  textarea:focus{
    color: #878680;
    padding: 5%;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 200px;
    margin: 3% 0;
    background-color: #ffffff;
}

.contact button{
    background-color: #4BAF47;
    color: #FFFFFF;
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 3% 0;
}

.contact button:hover img{
    transform: rotate(270deg);
}
.contact button:hover{
    background-color: #EEC044;
}


.contact .contact-cards .contact-card,
.contact button,
.contact button:hover img
{
    transition: scale, rotate, transform, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width:500px) {
    .contact .contact-cards, .contact .contact-down{
        display: grid;
    }
    .contact .contact-down{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 10% 20% 10%;
        border-radius: 10px;
    }
    .contact button{
        width: 100%;
    }
    .contact iframe{
        order:1;
        height: 300px;
    }
}