@font-face {
  font-family: Manrope;
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf');
}
@font-face {
  font-family: cbyg;
  src: url('./assets/fonts/CoveredByYourGrace-Regular.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Outfit;
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
}
@font-face {
  font-family: sil;
  src: url('./assets/fonts/ShadowsIntoLight-Regular.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --c-grey: #878680;
  --c-black: #1f1e17;
  --c-green: #4BAF47;
  --c-orange: #EEC044;
  --c-orange2: #F7C35F;
  --c-white: #ffffff
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
  color: var(--c-grey)
}
body{
  background-color: #ffffff;
  overflow-x: hidden;
}
li{
  list-style: none;
}
a, a:active, a:focus, a:visited{
  text-decoration: none;
  color: var(--c-grey);
}
button{
  cursor: pointer;
}